@import url(http://fonts.googleapis.com/css?family=Fauna+One);

body { font-family: 'Fauna One', serif }
h1 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
}

h5 {
  font-size: 22px;
}

p {
  font-size: 18px;
  line-height: 26px;
}
