<!DOCTYPE html>
<html>
<head>
  <title>Humblr</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="app_container" class="grid grid-pad">
    <nav>
      <h1>bumblr.</h1>
    </nav>
    <aside id="sidebar" class="col-1-4">
      <ul id="posts_list">

      </ul>
    </aside>

    <article id="content" class="col-3-4">
    </article>
  </div>

<%#= yield %>

</body>
</html>
