<!DOCTYPE html>
<html>
<head>
  <title>Humblr</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav>
    <h1>humblr.</h1>
  </nav>

  <div id="app_container">
    <section id="sidebar">
      <ul id="posts_list">

      </ul>
    </section>

    <article id="content">
    </article>
  </div>

<%#= yield %>

</body>
</html>
